{% extends 'base.html' %}

{% block title %}{% if lang == 'zh-Hans' %}游戏列表{% else %}遊戲列表{% endif %} - {% endblock %}


{% block main %}
    <div class="container mt-3">
        <h3>{% if lang == 'zh-Hans' %}游戏列表{% else %}遊戲列表{% endif %}</h3>
        <p>
            {% if games %}
                <ul>
                    {% for key, game_info in games.items() %}
                        <li>
                            <a href="{{ url_for('game', identifier=game_info['identifier']) }}">{{ game_info['name'][lang] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
    </div>
{% endblock %}
